<!DOCTYPE html>
<html lang="en" dir="ltr">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=100.0"/>
  <title>chatsjs</title>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  
  
</head>
  
<body class="container-fluid">
    
    <h1>     
      <b>   
    
       <p style="font-size:15px">Date Account Created</p>  
   
      </b>
   </h1>
    <div class="col-md-6" style="position: relative; height:40vh; width:80vw">
      <canvas id="LineChart"></canvas>
    </div>

    <button id="myButton" class="float-left submit-button" >Next</button>

    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "http://127.0.0.1:8000/fig4/";
        };
    </script>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  
  <script>
    var endpoint = 'api6';
  
    $.ajax({
      method: "GET",
      url: endpoint,
      success: function(data) {
        drawBarGraph(data, 'LineChart');
        console.log("drawing");
      },
      error: function(error_data) {
        console.log(error_data);
      }
    })
  
  
    function drawBarGraph(data, id) {
      var labels = data.labels;
      var chartLabel = data.chartLabel;
      var chartdata = data.chartdata;
      var ctx = document.getElementById(id).getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: chartLabel,
            fill: false,
            data: chartdata,
            backgroundColor: 'rgb(0, 179, 134)',
            borderColor: 'rgb(0, 179, 134)',
        
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    }

    
  </script>
</body>
  
</html>